# build output
/build
/report.html

# dependencies
/node_modules

# editors
/.idea

# docker
/docker-compose.override.yml

# test reports & coverage reports
/coverage
/junit

# env settings
/.env*.local
