version: '3.5'

services:
    html2pdf:
        image: appvantage/html2pdf-service:1.2.1

    mail:
        image: mailhog/mailhog:v1.0.0

    redis:
        image: redis:6.2.4
        command: redis-server --appendonly yes
        volumes:
            - redis:/data

    minio:
        image: minio/minio:RELEASE.2021-07-08T01-15-01Z
        environment:
            MINIO_ROOT_USER: 'AKIAIOSFODNN7EXAMPLE'
            MINIO_ROOT_PASSWORD: 'wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY'
        command: ["server", "/data", "--console-address", ":9001"]
        volumes:
            - minio:/data

    mongo:
        image: mongo:5.0.3
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: password
        volumes:
            - mongo:/data/db

volumes:
    mongo:
    redis:
    minio:
