name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v32.0.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
